<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @option.text %>
</p>

<p>
  <strong>Poll question:</strong>
  <%= @option.poll_question %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
